@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--Light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: var(--White);
    width: 320px;
    height: 497px;
    text-align: center;
    box-shadow: 16px 19px 17px rgba(0, 0, 0, 0.1);
    border-radius: 1.25rem;
}

.card-container {
    margin: 16px 16px 16px 16px;
}

.card-container img{
    width: 288px;
    height: 288px;
    border-radius: 0.5rem;
}

.card-container h2{
    color: var(--Dark-blue);
    font-weight: 700;
    margin: 5% auto;
    font-size: 22px;
}

.card-container p{
    color: var(--Grayish-blue);
    font-weight: 400;
    margin: 1rem 0;
    font-size: 14px;
}